body {
    background: #ffffff;
    background-image: url("../images/bg_gray.png");
    background-repeat: no-repeat;
    margin-top: 80px;
    font-family: Consolas;
}

.mars_logo {
    width: 120px;
    height: 120px;
    filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.7;
}

.mars_name {
    margin-top: 40px;
    font-family: Consolas;
    font-size: 42px;
    font-weight: 530;
    color: #af5a09;
}

.navbar-cus {
    border-color: #ff794d;
    margin-top: 20px;
    font-size: large;

}

.panel-cus {
    border-color: #ff794d;

}

.panel-cus>.panel-heading {
    background-color: #ff794d;
    border-color: #ff794d;

}

.maintext-cus {

}

.maintext-cus>div>p {
    font-family: Arial, serif;

    font-size: 16px;
}